@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #0a0e17;
  color: #f1f5f9;
}

/* Fix Leaflet z-index conflicts */
.leaflet-pane { z-index: 1 !important; }
.leaflet-top, .leaflet-bottom { z-index: 2 !important; }
